Source: go-gui-toolkits
Build-Depends: golang
Package: go-gui-toolkits
Maintainer: Jeff Carr <jcarr@wit.com>
Architecture: amd64
Depends:
Recommends: libgtk-3-0
Description: a abstraction layer for Go visual elements (GTK, QT, etc)
 Package gui implements a abstraction layer for Go visual elements.
